<!DOCTYPE html>
<html>
<head>
  <title>G0038847 Web Project</title>
</head>
<body>
  <h1>G0038847 Web Project</h1>

  <button onclick="window.location.href='/students'">Students</button>
  <button onclick="window.location.href='/grades'">Grades</button>
  <button onclick="window.location.href='/lecturers'">Lecturers</button>
</body>
</html>